
*{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.013em;
  background-image: url("../img/bodyimg.svg");
}

/*FLEXBOX TIL HELE LAYOUTET*/
.flex-parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

/*HEADER TIL MOBIL*/
.header {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: blueviolet;
    background-color: none;
    width: 100%;
    height: 10vh;
}

/*LOGO MOBIL*/
.logo{
    display: flex;
    background-color: none;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: ivory;
    height: 100%;
}

.logomobil{
  width: 8vh;
  height: 8vh;
  margin-top: 30px;
  margin-right: 35px;
}

.menu1 .logoweb{
  height: 50px;
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 30px;
}

/*Burgermenu mobil*/
.menu{
    display: flex;
    background-color: none;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: ivory;
    height: 100%;
}


/*ALT INDHOLD (TEKSTEN, ILLUSTRATIONERNE, KNAPPERNE)*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
}

/*SPAN TEKST, DET FARVEDE*/
.gul-text{
  color: #D7A458;
}

.lilla-text{
  color: #AA81AC;
}

.blue-text{
  color: #7CA5B8;
}

.orange-text{
  color: #D46A3E;
}

/*brødtekst*/
.ekstra-text{
  color: #404f5f;
}

/*BRØDTEKSTEN MOBIL*/
.startertekst .ekstra-text{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  background-color: none;
  text-align: center;
  font-size: 15px;
}

/*HELE TEKSTBOKSEN MOBIL*/
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: none;
    height: auto;
    width: 90%;
}

h1 span {
  color: #515f6d;
  font-size: 30px;
  font-weight:400;
}

.text h1{
  color: #515f6d;
  width: 90%;
  font-size:40px;
  font-weight:700;
  letter-spacing:-0.195px;
  line-height: 1.5;
  background-color: none;
  text-align: start;
}

/*STARTER TEKST PÅ MOBILVERSIONEN*/
.text p{
    color: #515f6d;
    width: 90%;
    background-color: none;
    text-align: start;
    font-size: 22px;
}

.ledende-text{
  font-size: 23px;
  width: 90%;
  font-weight: 400;
  letter-spacing: -0.195px;
  padding-left: 40px;

}

/*------------------Start headline undersider-------------------*/
.text-undersider{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: none;
    height: auto;
    width: 70%;
    text-align: start;
}

.text-undersider p{
    color: #515f6d;
    width: 100%;
    background-color: none;
    text-align: start;
    font-size: 15px;
}

.text-undersider h1{
  font-size: 20px;
  width: 100%;
  color: #515f6d;
  font-weight:700;
  letter-spacing:-0.195px;
  line-height: 1.5;
  background-color: none;
  text-align: start;
}

.ledende-text-undersider{
  font-weight: 400;
  letter-spacing: -0.195px;
  padding-left: 40px;
}

.ledende-text-undersider p{
  width: 90%;
  font-weight: 400;
  letter-spacing: -0.195px;
  padding-left: 25px;
}

.text-undersider h1 span {
  color: #515f6d;
  font-size: 20px;
  font-weight:400;
}
/*------------------Slut headline undersider-------------------*/

/*TEXT STOP*/

.illustration{
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 30vh;
  height: 30vh;
}

/*Forside svg illustration*/
.illustration-box-1 {
  display: flex;
  align-items: flex-end;
  height:  100%;
  width: 39%;
}

.illustration-box-2 {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.illustration-box-3 {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.illustration-box-4 {
  display: flex;
  align-items: center;
  height: 100%;
}

.illustration-box-5 {
  display: flex;
  align-items: center;
  height: 100%;
}

.illustration-box-1 img {
height: 70%;
}

.illustration-box-2 img {
height: 100%;
}

.illustration-box-3 img {
height: 85%;
}

.illustration-box-4 img {
height: 40%;
}

.illustration-box-5 img {
height: 70%;
}

/*
.illustrationmobil{
  padding: auto;
  background-color: blue;
}

.illustrationmobil2{
  padding: auto;
}
*/

/*knap area er til mobil verion af index*/
.knap-area{
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: none;
  height: auto;
  width: 95%;
}

/*knap area for alle undersider mobil*/
.knap-area-undersider{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: none;
  height: auto;
  width: 96%;
}

.svar-knapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: none;
}

/*MOBIL PROCESSBAR*/
.processbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: none;
}

.processbar img {
  width: 90%;
}

/*WEB RELATERET CSS*/
.web-processbaroglogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

/*BARE EN BLANK CONTAINER,
DER GØR VORES
PROCESSBAR BLIVER PLACERET I MIDTEN*/
.blank {
  display: flex;
  width: 15%;
  height: auto;
}
/*WEB LOGO*/
.logo1{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: auto;

}/*NAV WEB*/
.nav1{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

/*MENU DETTE ER NAV OG LOGO WEBS BOXEN*/
.menu1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15%;
    height: 100%;

}

/* WEB NAV BAR KODE */

.nav-links{
  list-style: none;
}

.nav-links i{
  margin-right: 20px;
}

.nav-links li{
  padding-top: 25px;
  margin-right: 50px;
}

.nav-links a{
  text-decoration: none;
  color: #515f6d;
}

/* MOBILE NAV BAR KODE */
@media screen and (max-width:800px) {
    body{
      overflow-x: hidden;
    }
    .nav-links2{
      position: absolute;
      left: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      width: 100%;
      transform: translateX(-100%);
      margin-right: 60px;
      list-style: none;
    }
    .nav-links2 a{
      text-decoration: none;
      color: #515f6d;
    }
    .nav-links2 li{
      margin-top: 50px;
      margin-left: 25px;
    }
    .burgericon{
      display: block;
      cursor: pointer;
    }
    .nav-links2 i{
      margin-right: 30px;
    }
    .logomobil{
      margin-top: 0;
      margin-right: 0;
    }
}

.nav-active{
  transform: translateX(0%);
}

.menu img {
    height: 25px;
}

/*PROCESSBAR WEB*/
.processbar1{
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
    color: ivory;
}
.processbar1 img{
  width: 85vh;
  height: 25zvh;

}


/*------------------STYLEGUIDE RELATERET START-------------------*/


ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #CC5B64;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  margin-left: 25%;
  padding: 1px 20px;
}

.standardknap {

    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 15px;
    width: 150px;
    text-align: center;
    height: auto;
    border: 3px solid #a6bb75;
    color: #a6bb75;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    display: inline-block;
   }
}

.standardknap:hover {
  background-color: #7CA5B8;
  transition: 0.5s ease;
  color: white;
}


.blueknap {
  display: flex;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 20px;
  padding: 15px;
  width: 150px;
  height: auto;
  border: 3px solid #7CA5B8;
  color: #7CA5B8;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  background-color: #ffffff;
  display: inline-block;
 }

 .blueknap:hover {
   background-color: #7CA5B8;
   transition: 0.5s ease;
   color: white;
 }

.mobilknap {
  display: flex;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 15px;
  height: auto;
  border: 3px solid #a6bb75;
  color: #a6bb75;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  background-color: white;
  display: inline-block;
 }


/*-------------------------Oliver har tilføjet den  her til mobil-undersider.
                        Den skal også med ind i vores style guide (html version)------------------------*/
 .mobilknap-undersider {
   display: flex;
   margin-right: 5px;
   margin-bottom: 10px;
   margin-left: 5px;
   padding: 15px;
   height: auto;
   border: 3px solid #a6bb75;
   color: #a6bb75;
   font-weight: bold;
   text-decoration: none;
   font-size: 12px;
   background-color: white;
   display: inline-block;
  }

  .mobilknap-undersider:hover {
    background-color: #a6bb75;
    transition: 0.5s ease;
    color: white;
  }

.mobilknap-undersider-videre-knap {
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 15px;
  height: auto;
  width: 60px;
  border: 3px solid rgba(124, 165, 184, 0.7);
  color: rgba(124, 165, 184, 0.7);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  background-color: white;
  display: inline-block;
}

.mobilknap-undersider-videre-knap:hover {
  background-color: rgba(124, 165, 184, 0.7);
  transition: 0.5s ease;
  color: white;
}

.mobilknap-undersider-videre-knap-blue {
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 15px;
  height: auto;
  width: 60px;
  border: 3px solid rgba(124, 165, 184, 1);
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  background-color: rgba(124, 165, 184, 1);
  display: inline-block;
  text-align: center;
}



#myDIV {
margin-top: 2.5%;
display: none;
}

#myDIV2 {
margin-top: 2.5%;
display: block;
}


/*-------------------------------------------------------------------------------------------------------*/

option {
    font-weight: bold;
}

select {
  padding: 0 0.5em;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background:  rgba(165, 186, 117, 1);
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;

}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 70%;
  height: 2.5em;
  line-height: 3;
  overflow: hidden;

}

select {
  flex: 1;
  color: white;
  cursor: pointer;
  font-weight: bold;

}

/* Transition */
.select:hover::after {
  color: rgba(124, 165, 184, 1);
}


/*-------------------------------------------------------------------------------------------------------*/

.standard p{
  font-size: 12px;
  margin-bottom: -10px;
  font-weight: bold;
}

.aktiveret p{
  font-size: 12px;
  margin-top: 40px;
  font-weight: bold;
}

.addknap p{
  font-size: 12px;
  margin-top: 30px;
  font-weight: bold;
}

.aktknap {
margin-top: 0px;
 padding: 15px;
 border: 2px solid #a6bb75;
 color: #ffffff;
 font-weight: bold;
 text-decoration: none;
 font-size: 15px;
 background-color: #a6bb75;
 display: inline-block;
}

/* Kontaktformular start*/
#myform{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto Mono', monospace;
  margin-top: 0px;
}

.kontakt-wrapper{
  max-width: 350px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  clear: both;
}

.kontakt-wrapper2{
  max-width: 350px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  clear: both;
}


.kontakt-wrapper h3{
  margin-bottom: 20px;
  text-transform: uppercase;;
  color: #515f6d;
  font-size: 20px;
}

.kontakt-wrapper2 h3{
  margin-bottom: 20px;
  text-transform: uppercase;;
  color: #515f6d;
  font-size: 20px;
}

.kontakt-wrapper p{
 margin-top: -15px;
 margin-bottom: 10px;
 margin-left: 6%;
 font-size: 14px;
}

.kontakt-wrapper2 p{
 margin-top: -15px;
 margin-bottom: 10px;
 margin-left: 6%;
 font-size: 14px;
}


.kontakt-wrapper .input_field{
  margin-bottom: 25px;
}

.kontakt-wrapper2 .input_field{
  margin-bottom: 25px;
}

.kontakt-wrapper .input_field input[type="text"],
.kontakt-wrapper textarea{
  width: 110%;
  padding: 15px;
  border-color: #a6bb75;
  border: 3px solid #a6bb75;
}

.kontakt-wrapper2 .input_field input[type="text"],
.kontakt-wrapper2 textarea{
  width: 90%;
  padding: 15px;
  border-color: #a6bb75;
  border: 3px solid #a6bb75;
}

.kontakt-wrapper textarea{
  height: 25vh;
  resize: none;
}

.kontakt-wrapper2 textarea{
  height: 25vh;
  resize: none;
}

.kontakt-wrapper .kon-btn input[type="submit"]{
  border: none;
  margin-top: 0px;
  padding: 15px;
  width: 120%;
  background: #a6bb75;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
}

.kontakt-wrapper2 .kon-btn input[type="submit"]{
  border: none;
  margin-top: 0px;
  padding: 15px;
  width: 100%;
  background: #a6bb75;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
}

.kontakt-wrapper #error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.kontakt-wrapper2 #error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

#name, #email, #nummer{
  font-family: 'Roboto Mono', monospace;
 }
/* Kontaktformular slut */

/*Ikoner css start*/

.alle-ikoner{
  height: 15%;
  width: 15%;
}

.alle-ikoner {
  margin: auto;
}


.infobox{
  padding-left: 20px;
  width: 40%;
  border: solid 3px #A5BA73;
  word-wrap: break-word;
  text-align: center;
}

#links-ikoner {
  width: 100%;
}

.links-ikon{
  color: #0000ff;
  text-decoration: underline;
}

/*Ikoner css slut*/


@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  div.container {
    margin-left: 0;
  }


}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
/*Farver */
.xx-swatches {
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2em;
}

.xx-swatch {
    float: left;
    width: 15em;
    margin-right: 1em;
    list-style-type: none;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-bottom: 1em;
    background-color: #fff;
    height: 13em;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: solid grey 2px;
}

.xx-swatch-preview {
    height: 5em;
    width: 103%;
    display: table-cell;
    margin-bottom: 0.5em;
    border-radius: 3px 3px 0 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    line-height: 1.1;
    vertical-align: middle;
    overflow: hidden;
    float: none;
    position: absolute;
    top: -0.25em;
    left: -1.5%;
    right: -1.5%;
    background-color: black;
    color: white;
}

.xx-swatch-details {
    padding: 0.7em 5% 0;
    margin-bottom: 0.5em;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 90%;
    color: #999;
}
/*Farver Slut */
/*------------------STYLEGUIDE RELATERET Slut-------------------*/
.content-container{
  padding-top: 80px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
/*
pattern{
  width: 50%;
}
*/

.knapper-flexcontainer{
  display: flex;
  flex-direction: column;
}

  .knap-container{
    display: flex;
    justify-content: center;
  }

 .knapper2{
   display: flex;
   align-items: center;
   justify-content: center;

 }
 .flex{
   display: flex;
   justify-content: start;
 }

 .flextekst{
   width: 100%;
   background-color: red;
 }

  /*pattern web*/
  .pattern img{
    width: 25vh;
    height: 50vh;
}
.pattern-pc img{
  margin-top: 80px;
  width: 40vh;
  height: 50vh;
}

.textogknapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.knapper{

    padding-top: 5%;
}

.pattern-email img{
  width: 40vh;
  height: 40vh;
  display: block;
}

/*text web*/
.headline{
  padding-left: 20px;
  font-size: 20px;
  color: #404f5f;
}
.starttekst{
  padding-left: 60px;
}
.starttekst{
  font-size: 30px;
}

.bracket{
  padding-left: 20px;
  font-size: 20px;
  color: #404f5f;
}
.vigtig-text{
  padding-left: 20px;
  padding-top: 40px;
  max-width: 70%;
}


/*WEB VERSION...CSS Media Queries*/
@media screen and (max-width: 1300px) {
  .content-container{
   width: 100%;
  }
  .textogknapper {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
   .web-processbaroglogo{
        display: none;
   }
   .content-container{
    display: none;
   }
   .pattern{
     display: none;
   }
   .pattern-email{
     display: none;
   }
   .knapper{
     display: none;
   }
   .vigtig-text{
     display: none;
   }
   .bracket{
     display: none;
   }
   .starttekst{
    display: none;
  }
  .headline{
    display: none;
  }
  .kontakt-wrapper{
    display: none;
  }
  .illustrationmail{
    display: none;
  }
  }

@media screen and (min-width: 800px) {
    body {
      margin-bottom: 0.5vh;
      height: 100%;
      overflow: hidden;
    }
    .web-processbaroglogo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 19.5vh;
    }

    .pattern{
      display: block;
    }
    .knapper{
      display: block;
    }
    .bracket{
      display: block;
    }
    .starttekst{
      display: block;
    }
    .headline{
      display: block;
    }
    .content {
      min-width: 50%;
      display: none;
      flex-direction: row;
      flex-wrap: nowrap
    }
    .header{
       display: none;
    }
    .processbar{
        display: none;
    }
    .vigtig-text{
      display: block;
    }
    .illustration{
        height: 100%;
        width: 40%;
    }
    .illustration img{
      padding-top: 25%;
    }
    .text{
        max-width: 450px;
        height: auto;
        text-align: left;
    }
    .knap-area{
        display: none;
    }
    .text h1{
    font-weight: 700;
    font-size: 40px;
    justify-content: flex-start;
    }
  }
/*MEDIA QUERIES SLUT*/
